<div class="fix-bug-do-improvement">
  <!-- Danh sách nút bấm -->
  <div class="flex justify-content-end gap-3">
    <p-button
      [outlined]="true"
      severity="secondary"
      icon="pi pi-external-link"
      pTooltip="Mở rộng trang tính"
      label="Mở trang tính"
      (click)="openGoogleSheets()"
    />

    <p-button
      [outlined]="true"
      severity="secondary"
      icon="pi pi-sync"
      pTooltip="Tải lại danh sách"
      label="Tải lại danh sách"
      (click)="checkForFixBugAndImprovementUpdates()"
    />

    <p-button
      icon="pi pi-plus"
      label="Thêm mới"
      (click)="onBulkCreate()"
    />
  </div>

  <!-- Bảng danh sách Bug và Improvement đang fix -->
  <p-table
    [value]="tableData"
    [scrollable]="true"
    styleClass="p-datatable-gridlines"
    scrollHeight="800px"
    [resizableColumns]="true"
    columnResizeMode="expand"
    [loading]="isLoading()"
  >
    <!-- TABLE HEADER -->
    <ng-template pTemplate="header">
      <tr>
        @for (col of headerColumnConfigs; track col.field) { @if (col.field ===
        COLUMN_FIELD.categoryId) {
        <th
          [pSortableColumn]="col.field"
          pResizableColumn
          pFrozenColumn
          [style.min-width.px]="col.minWidth"
        >
          <div class="flex">
            <div class="flex-1 line-clamp line-clamp-2">
              {{ col.label }}
            </div>
            <p-sortIcon [field]="col.field" />
          </div>
        </th>
        } @else {
        <th
          [pSortableColumn]="col.field"
          pResizableColumn
          [style.min-width.px]="col.minWidth"
        >
          <div class="flex">
            <div
              class="flex-1 line-clamp line-clamp-2"
              [pTooltip]="col.label"
            >
              {{ col.label }}
            </div>
            <p-sortIcon [field]="col.field" />
          </div>
        </th>
        } }
      </tr>
    </ng-template>

    <!--  TABLE ROW DATA -->
    <ng-template
      pTemplate="body"
      let-rowData
      let-index="rowIndex"
    >
      <tr>
        @for (col of headerColumnConfigs; track col.field) { @if (col.field ===
        COLUMN_FIELD.no) {
        <td>{{ index + 1 }}</td>
        } @else if (col.field === COLUMN_FIELD.startTime || col.field ===
        COLUMN_FIELD.endTime) {
        <td>{{ rowData[col.field] | formatDate }}</td>
        } @else if (col.field === COLUMN_FIELD.duration) {
        <td>{{ rowData[col.field] | roundNumber }}</td>
        } @else {
        <td>
          <div
            class="line-clamp line-clamp-1"
            [pTooltip]="rowData[col.field]"
          >
            {{ rowData[col.field] }}
          </div>
        </td>
        } }
      </tr>
    </ng-template>
  </p-table>
</div>
