<div class="huynx15-bug h-full flex flex-column">
  <div
    class="huynx15-actions flex align-items-center justify-content-between gap-3"
    [ngClass]="{
      'justify-content-between': selectedNumber,
      'justify-content-end': !selectedNumber
    }"
  >
    <div
      *ngIf="selectedNumber"
      class="flex justify-content-end gap-3"
    >
      <span>Chọn {{ selectedNumber }} </span>
      <p-button
        [outlined]="true"
        severity="secondary"
        icon="pi pi-trash"
        pTooltip="Xóa nhiều"
        label="Xóa nhiều"
        (click)="onBatchRemoveCreateRow()"
      />
      <p-button
        [outlined]="true"
        severity="secondary"
        icon="pi pi-file-edit"
        pTooltip="Xóa nhiều"
        label="Chỉnh sửa nhiều"
        (click)="batchUpdate.toggle($event)"
      />
      <p-popover #batchUpdate>
        <div
          class="flex flex-column"
          style="width: 360px"
          [formGroup]="batchUpdateFormGroup"
        >
          <div>
            <span>Module</span>
            <lib-form-select
              #moduleId
              [formControlName]="FORM_GROUP_KEYS.moduleId"
              [options]="(moduleDependentOptions$ | async)?.[projectFormControl().value]"
            ></lib-form-select>
          </div>

          <div>
            <span>Menu</span>
            <lib-form-select
              #menuId
              [formControlName]="FORM_GROUP_KEYS.menuId"
              [options]="(menuDependentOptions$ | async)?.[moduleId.value]"
            ></lib-form-select>
          </div>

          <div>
            <span>Màn hình</span>
            <lib-form-select
              #screenId
              [formControlName]="FORM_GROUP_KEYS.screenId"
              [options]="(screenDependentOptions$ | async)?.[menuId.value]"
            ></lib-form-select>
          </div>

          <div>
            <span>Tính năng</span>
            <lib-form-select
              [formControlName]="FORM_GROUP_KEYS.featureId"
              [options]="(featureDependentOptions$ | async)?.[screenId.value]"
            ></lib-form-select>
          </div>

          <div>
            <span>Phân loại</span>
            <lib-form-select
              [formControlName]="FORM_GROUP_KEYS.categoryId"
              [options]="(categoryOptions$ | async) || []"
            ></lib-form-select>
          </div>

          <div class="flex justify-content-end gap-3">
            <p-button
              [outlined]="true"
              severity="secondary"
              icon="pi pi-times"
              pTooltip="Hủy chỉnh sửa hàng loạt"
              label="Hủy"
              (click)="batchUpdate.hide(); batchUpdateFormGroup.reset()"
            />
            <p-button
              icon="pi pi-save"
              pTooltip="Lưu chỉnh sửa hàng loạt"
              label="Xác nhận"
              (click)="onBatchUpdateCreateRow()"
            />
          </div>
        </div>
      </p-popover>
    </div>
    <!-- Danh sách nút bấm -->
    <div class="flex justify-content-end gap-3">
      <p-button
        [outlined]="true"
        severity="secondary"
        icon="pi pi-history"
        pTooltip="Khôi phục dữ liệu đang log"
        label="Khôi phục"
        (click)="onRecoverCurrentLog()"
      />
      <p-button
        [outlined]="true"
        severity="secondary"
        icon="pi pi-file-import"
        pTooltip="Nhập dữ liệu từ CSV"
        label="Import CSV"
        (click)="importCSV.click()"
      />
      <input
        #importCSV
        type="file"
        hidden
        (change)="onFileChange($event)"
        accept=".csv"
      />

      <p-button
        [outlined]="true"
        severity="secondary"
        icon="pi pi-plus"
        pTooltip="Thêm 1 dòng để tạo mới"
        label="Thêm dòng mới"
        (click)="onAddNewCreateRow()"
      />

      <p-button
        [outlined]="true"
        severity="secondary"
        icon="pi pi-trash"
        pTooltip="Xóa toàn bộ dòng thêm mới"
        label="Xóa hết"
        (click)="onRemoveAllCreateRow()"
      />
      <p-button
        icon="pi pi-save"
        label="Lưu tất cả"
        (click)="onBulkCreate()"
      />
    </div>
  </div>
  <div class="huynx15-table flex-1 overflow-hidden">
    <p-table
      [frozenValue]="createFormArray.controls"
      [value]="viewUpdateTableData"
      [resizableColumns]="true"
    >
      <!-- TABLE HEADER -->
      <ng-template pTemplate="header">
        <tr class="sticky top-0 z-5">
          @for (col of headerColumnConfigs; track col.field) { @if (col.field
          === COLUMN_FIELD.batch) {
          <th
            pResizableColumn
            [style.min-width.px]="col.minWidth"
          >
            <div class="flex">
              <div class="flex-1 line-clamp line-clamp-2">
                <p-checkbox
                  [ngModelOptions]="{ standalone: true }"
                  [ngModel]="isSelectAll"
                  (onChange)="toggleSelectAll($event, createFormArray)"
                  [binary]="true"
                />
              </div>
            </div>
          </th>
          } @else if (col.field === COLUMN_FIELD.order) {
          <th
            pResizableColumn
            [style.min-width.px]="col.minWidth"
          >
            <div class="flex">
              <div class="flex-1 line-clamp line-clamp-2">
                {{ col.label }}
              </div>
            </div>
          </th>
          } @else if (col.field === COLUMN_FIELD.actions) {
          <th
            pResizableColumn
            [style.min-width.px]="col.minWidth"
          >
            <div class="flex">
              <div class="flex-1 line-clamp line-clamp-2">
                {{ col.label }}
              </div>
            </div>
          </th>
          } @else if (col.field === COLUMN_FIELD.categoryId) {
          <th
            [pSortableColumn]="col.field"
            pResizableColumn
            pFrozenColumn
            [style.min-width.px]="col.minWidth"
          >
            <div class="flex">
              <div class="flex-1 line-clamp line-clamp-2">
                {{ col.label }}
              </div>
              <p-sortIcon [field]="col.field" />
            </div>
          </th>
          } @else {
          <th
            [pSortableColumn]="col.field"
            pResizableColumn
            [style.min-width.px]="col.minWidth"
          >
            <div class="flex">
              <div
                class="flex-1 line-clamp line-clamp-2"
                [pTooltip]="col.label"
              >
                {{ col.label }}
              </div>
              <p-sortIcon [field]="col.field" />
            </div>
          </th>
          } }
        </tr>
      </ng-template>

      <!--  TABLE : THÊM MỚI -->
      <ng-template
        pTemplate="frozenbody"
        let-control
        let-index="rowIndex"
      >
        <tr [formGroup]="getFormGroup(index, createFormArray)">
          <td>
            <div>
              <p-checkbox
                [ngModelOptions]="{ standalone: true }"
                [ngModel]="control.value.selected"
                (onChange)="
                  onRowSelectionChange($event, createFormArray, index)
                "
                [binary]="true"
              ></p-checkbox>
            </div>
          </td>

          <td>
            <div>{{ index + 1 }}</div>
          </td>

          <td>
            <div>
              <lib-form-select
                #moduleId
                [formControlName]="FORM_GROUP_KEYS.moduleId"
                [options]="(moduleDependentOptions$ | async)?.[projectFormControl().value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                #menuId
                [formControlName]="FORM_GROUP_KEYS.menuId"
                [options]="(menuDependentOptions$ | async)?.[moduleId.value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                #screenId
                [formControlName]="FORM_GROUP_KEYS.screenId"
                [options]="(screenDependentOptions$ | async)?.[menuId.value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                [formControlName]="FORM_GROUP_KEYS.featureId"
                [options]="(featureDependentOptions$ | async)?.[screenId.value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                [formControlName]="FORM_GROUP_KEYS.categoryId"
                [options]="(categoryOptions$ | async) || []"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <input
                [formControlName]="FORM_GROUP_KEYS.code"
                pInputText
              />
            </div>
          </td>

          <!--          <td>-->
          <!--            <div>-->
          <!--              <textarea-->
          <!--                pTextarea-->
          <!--                [formControlName]="FORM_GROUP_KEYS.name"-->
          <!--                rows="1"-->
          <!--                cols="30"-->
          <!--              ></textarea>-->
          <!--            </div>-->
          <!--          </td>-->

          <td>
            <div>
              {{ mapRowDataToType(control.value).name || '--' }}
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                [formControlName]="FORM_GROUP_KEYS.status"
                [options]="(statusDependentTabOptions$ | async)?.['Bug']"
                (selectOption)="onSelectStatus($event, index)"
              ></lib-form-select>
            </div>
          </td>

          <!-- Thời gian bắt đầu -->
          <td>
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-clock"
                aria-label="Thời gian hiện tại"
                pTooltip="Thời gian hiện tại"
                tooltipPosition="bottom"
                (click)="
                  onSetCurrentTimeForDatepicker(
                    createFormArray,
                    index,
                    FORM_GROUP_KEYS.startTime
                  )
                "
              />
              <p-datepicker
                [formControlName]="FORM_GROUP_KEYS.startTime"
                [showTime]="true"
                hourFormat="24"
                dateFormat="dd/mm"
                appendTo="body"
              >
              </p-datepicker>
            </div>
          </td>

          <!-- Thời gian hoàn thành -->
          <td>
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-clock"
                aria-label="Thời gian hiện tại"
                pTooltip="Thời gian hiện tại"
                tooltipPosition="bottom"
                (click)="
                  onSetCurrentTimeForDatepicker(
                    createFormArray,
                    index,
                    FORM_GROUP_KEYS.endTime
                  )
                "
              />

              <p-datepicker
                [formControlName]="FORM_GROUP_KEYS.endTime"
                [showTime]="true"
                hourFormat="24"
                dateFormat="dd/mm"
                appendTo="body"
              >
              </p-datepicker>
            </div>
          </td>

          <td>
            <div>
              <input
                appWorkDuration
                [formControlName]="FORM_GROUP_KEYS.duration"
                id="duration"
                pInputText
              />
            </div>
          </td>

          <td>
            <div>
              <p-check-box
                [formControlName]="FORM_GROUP_KEYS.isLunchBreak"
                [binary]="true"
              ></p-check-box>
            </div>
          </td>

          <td>
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-clone"
                pTooltip="Sao chép dòng bên trên"
                tooltipPosition="bottom"
                [disabled]="index === 0"
                (click)="onCopyUpperRow(index)"
              />
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-copy"
                pTooltip="Sao chép dòng bên dưới"
                tooltipPosition="bottom"
                [disabled]="index === createFormArray.length - 1"
                (click)="onCopyLowerRow(index)"
              />

              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-times"
                aria-label="Xóa dữ liệu"
                pTooltip="Xóa dữ liệu"
                tooltipPosition="bottom"
                (click)="onClearRowData(index)"
              />
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-save"
                aria-label="Thêm mới"
                pTooltip="Thêm mới"
                tooltipPosition="bottom"
                (click)="onSaveCreate(index)"
              />
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-trash"
                aria-label="Xóa dòng"
                pTooltip="Xóa dòng"
                tooltipPosition="bottom"
                [disabled]="createFormArray.length === 1"
                (click)="onRemoveCreateRow(index)"
              />
            </div>
          </td>
        </tr>
      </ng-template>

      <!--  TABLE : XEM + CẬP NHẬT -->
      <ng-template
        pTemplate="body"
        let-rowData
        let-index="rowIndex"
      >
        @if (rowData.mode === EMode.VIEW) {
        <!-- Chế độ xem - VIEW -->
        <tr>
          @for (col of headerColumnConfigs; track col.field) { @if (col.field
          === COLUMN_FIELD.order) {
          <td>{{ index + 1 }}</td>
          } @else if (col.field === COLUMN_FIELD.moduleId) {
          <td>
            {{
              rowData[col.field]
                | convertIdToName
                  : (allDropdownData$ | async)?.modules
                  : 'moduleName'
            }}
          </td>
          } @else if (col.field === COLUMN_FIELD.menuId) {
          <td>
            {{
              rowData[col.field]
                | convertIdToName
                  : (allDropdownData$ | async)?.menus
                  : 'menuName'
            }}
          </td>
          } @else if (col.field === COLUMN_FIELD.screenId) {
          <td>
            {{
              rowData[col.field]
                | convertIdToName
                  : (allDropdownData$ | async)?.screens
                  : 'screenName'
            }}
          </td>
          } @else if (col.field === COLUMN_FIELD.featureId) {
          <td>
            {{
              rowData[col.field]
                | convertIdToName
                  : (allDropdownData$ | async)?.features
                  : 'featureName'
            }}
          </td>
          } @else if (col.field === COLUMN_FIELD.categoryId) {
          <td>
            {{
              rowData[col.field]
                | convertIdToName
                  : (allDropdownData$ | async)?.categories
                  : 'categoryName'
            }}
          </td>
          } @else if (col.field === COLUMN_FIELD.startTime || col.field ===
          COLUMN_FIELD.endTime) {
          <td>{{ rowData[col.field] | date : 'HH:mm - dd/MM' }}</td>
          } @else if (col.field === COLUMN_FIELD.categoryId) {
          <td>
            <p-tag
              [severity]="rowData[col.field] ? 'danger' : 'success'"
              [value]="rowData[col.field] ? 'Có' : 'Không'"
            />
          </td>
          } @else if (col.field === COLUMN_FIELD.duration) {
          <td>{{ rowData[col.field] | number : '1.1-1' }}</td>
          } @else if (col.field === COLUMN_FIELD.actions) {
          <td>
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-caret-right"
                pTooltip="Fix tiếp bug này"
                tooltipPosition="bottom"
                (click)="onContinueFixThisBug(index)"
              />
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-file-edit"
                pTooltip="Chuyển sang chế độ chỉnh sửa"
                tooltipPosition="bottom"
                (click)="onChangeToUpdateMode(index)"
              />
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-trash"
                aria-label="Xóa dòng"
                pTooltip="Xóa dòng"
                tooltipPosition="bottom"
                (click)="onDelete(rowData)"
              />
            </div>
          </td>
          } @else {
          <td>
            <div
              class="line-clamp line-clamp-1"
              [pTooltip]="rowData[col.field]"
            >
              {{ rowData[col.field] }}
            </div>
          </td>
          } }
        </tr>
        } @else {
        <!-- Chế độ cập nhật - UPDATE -->
        <tr [formGroup]="getFormGroup(index, viewUpdateFormArray)">
          <td>
            <div>
              <!--                <p-checkbox formControlName="city" value="New York" />-->
            </div>
          </td>

          <td>
            <div>{{ index + 1 }}</div>
          </td>
          <td>
            <div>
              <lib-form-select
                #moduleId
                [formControlName]="FORM_GROUP_KEYS.moduleId"
                [options]="(moduleDependentOptions$ | async)?.[projectFormControl().value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                #menuId
                [formControlName]="FORM_GROUP_KEYS.menuId"
                [options]="(menuDependentOptions$ | async)?.[moduleId.value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                #screenId
                [formControlName]="FORM_GROUP_KEYS.screenId"
                [options]="(screenDependentOptions$ | async)?.[menuId.value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                [formControlName]="FORM_GROUP_KEYS.featureId"
                [options]="(featureDependentOptions$ | async)?.[screenId.value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                [formControlName]="FORM_GROUP_KEYS.categoryId"
                [options]="(categoryOptions$ | async) || []"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <textarea
                pTextarea
                [formControlName]="FORM_GROUP_KEYS.code"
                rows="1"
                cols="30"
              ></textarea>
            </div>
          </td>

          <td>
            <div>
              {{ mapRowDataToType(rowData).name || '--' }}
            </div>
          </td>

          <td>
            <div>
              {{ mapRowDataToType(rowData).status || '--' }}
            </div>
          </td>

          <!-- Thời gian bắt đầu -->
          <td>
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-clock"
                aria-label="Thời gian hiện tại"
                pTooltip="Thời gian hiện tại"
                tooltipPosition="bottom"
                (click)="
                  onSetCurrentTimeForDatepicker(
                    viewUpdateFormArray,
                    index,
                    FORM_GROUP_KEYS.startTime
                  )
                "
              />
              <p-datepicker
                [formControlName]="FORM_GROUP_KEYS.startTime"
                [showTime]="true"
                hourFormat="24"
                dateFormat="dd/mm"
                appendTo="body"
              >
              </p-datepicker>
            </div>
          </td>

          <!-- Thời gian hoàn thành -->
          <td>
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-clock"
                aria-label="Thời gian hiện tại"
                pTooltip="Thời gian hiện tại"
                tooltipPosition="bottom"
                (click)="
                  onSetCurrentTimeForDatepicker(
                    viewUpdateFormArray,
                    index,
                    FORM_GROUP_KEYS.endTime
                  )
                "
              />

              <p-datepicker
                [formControlName]="FORM_GROUP_KEYS.endTime"
                [showTime]="true"
                hourFormat="24"
                dateFormat="dd/mm"
                appendTo="body"
              >
              </p-datepicker>
            </div>
          </td>

          <td>
            <div>
              <input
                appWorkDuration
                [formControlName]="FORM_GROUP_KEYS.duration"
                id="duration"
                pInputText
              />
            </div>
          </td>

          <td>
            <div>
              <p-check-box
                [formControlName]="FORM_GROUP_KEYS.isLunchBreak"
                [binary]="true"
              ></p-check-box>
            </div>
          </td>

          <td>
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-times"
                aria-label="Hủy"
                pTooltip="Hủy"
                tooltipPosition="bottom"
                (click)="onCancelUpdateMode(index)"
              />
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-save"
                aria-label="Lưu"
                pTooltip="Lưu"
                tooltipPosition="bottom"
                (click)="onSaveUpdate(index)"
              />
            </div>
          </td>
        </tr>
        }
      </ng-template>
    </p-table>
  </div>
</div>
