<div class="bug-improvement">
  <div class="huynx15-table">
    <p-table
      [frozenValue]="mode() === EMode.VIEW ? fixedRowData : []"
      [value]="tableData"
      scrollHeight="800px"
      [resizableColumns]="true"
    >
      <!-- TABLE HEADER -->
      <ng-template pTemplate="header">
        <tr>
          @for (col of headerColumnConfigs; track col.field) { @if (col.field
          === COLUMN_FIELD.categoryId) {
          <th
            [pSortableColumn]="col.field"
            pResizableColumn
            pFrozenColumn
            [style.min-width.px]="col.minWidth"
          >
            <div class="flex">
              <div class="flex-1 line-clamp line-clamp-2">
                {{ col.label }}
              </div>
              <p-sortIcon [field]="col.field" />
            </div>
          </th>
          } @else {
          <th
            [pSortableColumn]="col.field"
            pResizableColumn
            [style.min-width.px]="col.minWidth"
          >
            <div class="flex">
              <div
                class="flex-1 line-clamp line-clamp-2"
                [pTooltip]="col.label"
              >
                {{ col.label }}
              </div>
              <p-sortIcon [field]="col.field" />
            </div>
          </th>
          } }
        </tr>
      </ng-template>

      <!--  TABLE : DÒNG THÊM MỚI -->
      <ng-template
        pTemplate="frozenbody"
        let-rowData
        let-index="rowIndex"
      >
        <tr [formGroup]="createFormGroup">
          <td>
            <div class="flex align-items-center justify-content-between gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-save"
                aria-label="Lưu"
                pTooltip="Lưu"
                tooltipPosition="bottom"
                (click)="onSaveCreate()"
              />
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                #moduleId
                [formControlName]="FORM_GROUP_KEYS.moduleId"
                [options]="(moduleDependentOptions$ | async)?.[projectFormControl().value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                #menuId
                [formControlName]="FORM_GROUP_KEYS.menuId"
                [options]="(menuDependentOptions$ | async)?.[moduleId.value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                #screenId
                [formControlName]="FORM_GROUP_KEYS.screenId"
                [options]="(screenDependentOptions$ | async)?.[menuId.value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                [formControlName]="FORM_GROUP_KEYS.featureId"
                [options]="(featureDependentOptions$ | async)?.[screenId.value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                [formControlName]="FORM_GROUP_KEYS.categoryId"
                [options]="(categoryOptions$ | async) || []"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <textarea
                pTextarea
                [formControlName]="FORM_GROUP_KEYS.code"
                rows="1"
                cols="30"
              ></textarea>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                [formControlName]="FORM_GROUP_KEYS.issueId"
                [options]="(issueDependentScreenOptions$ | async)?.[screenId.value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <!-- Thời gian bắt đầu -->
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-clock"
                aria-label="Thời gian hiện tại"
                pTooltip="Thời gian hiện tại"
                tooltipPosition="bottom"
                (click)="
                  onSetCurrentTimeForDatepicker(
                    formArray,
                    index,
                    FORM_GROUP_KEYS.startTime
                  )
                "
              />
              <p-datepicker
                [formControlName]="FORM_GROUP_KEYS.startTime"
                [showTime]="true"
                hourFormat="24"
                dateFormat="dd/mm"
                appendTo="body"
              >
              </p-datepicker>
            </div>
          </td>

          <td>
            <!-- Thời gian hoàn thành -->
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-clock"
                aria-label="Thời gian hiện tại"
                pTooltip="Thời gian hiện tại"
                tooltipPosition="bottom"
                (click)="
                  onSetCurrentTimeForDatepicker(
                    formArray,
                    index,
                    FORM_GROUP_KEYS.endTime
                  )
                "
              />

              <p-datepicker
                [formControlName]="FORM_GROUP_KEYS.endTime"
                [showTime]="true"
                hourFormat="24"
                dateFormat="dd/mm"
                appendTo="body"
              >
              </p-datepicker>
            </div>
          </td>

          <td>
            <div>
              <input
                pInputText
                appWorkDuration
                [formControlName]="FORM_GROUP_KEYS.duration"
              />
            </div>
          </td>

          <td>
            <div>
              <p-checkbox
                [formControlName]="FORM_GROUP_KEYS.isLunchBreak"
                [binary]="true"
              />
            </div>
          </td>

          <!-- Danh sách nút hành động của Thêm mới -->
          <td>
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-times"
                aria-label="Hủy"
                pTooltip="Hủy"
                tooltipPosition="bottom"
                (click)="onResetCreateForm()"
              />
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-save"
                aria-label="Lưu"
                pTooltip="Lưu"
                tooltipPosition="bottom"
                (click)="onSaveCreate()"
              />
            </div>
          </td>
        </tr>
      </ng-template>

      <!--  TABLE ROW DATA -->
      <ng-template
        pTemplate="body"
        let-rowData
        let-index="rowIndex"
      >
        @if (rowData.mode === EMode.VIEW) {
        <!-- Chế độ VIEW chỉ hiển thị text -->
        <tr>
          @for (col of headerColumnConfigs; track col.field) { @if (col.field
          === COLUMN_FIELD.order) {
          <td>{{ index + 1 }}</td>
          } @else if (col.field === COLUMN_FIELD.moduleId) {
          <td>
            {{
              rowData[col.field]
                | convertIdToName
                  : (allDropdownData$ | async)?.modules
                  : 'moduleName'
            }}
          </td>
          } @else if (col.field === COLUMN_FIELD.menuId) {
          <td>
            {{
              rowData[col.field]
                | convertIdToName
                  : (allDropdownData$ | async)?.menus
                  : 'menuName'
            }}
          </td>
          } @else if (col.field === COLUMN_FIELD.screenId) {
          <td>
            {{
              rowData[col.field]
                | convertIdToName
                  : (allDropdownData$ | async)?.screens
                  : 'screenName'
            }}
          </td>
          } @else if (col.field === COLUMN_FIELD.featureId) {
          <td>
            {{
              rowData[col.field]
                | convertIdToName
                  : (allDropdownData$ | async)?.features
                  : 'featureName'
            }}
          </td>
          } @else if (col.field === COLUMN_FIELD.categoryId) {
          <td>
            {{
              rowData[col.field]
                | convertIdToName
                  : (allDropdownData$ | async)?.categories
                  : 'categoryName'
            }}
          </td>
          } @else if (col.field === COLUMN_FIELD.issueId) {
          <td>
            {{
              rowData[col.field]
                | convertIdToName
                  : (allDropdownData$ | async)?.issues
                  : 'issueName'
            }}
          </td>
          } @else if (col.field === COLUMN_FIELD.startTime || col.field ===
          COLUMN_FIELD.endTime) {
          <td>{{ rowData[col.field] | date : 'HH:mm - dd/MM' }}</td>
          } @else if (col.field === COLUMN_FIELD.categoryId) {
          <td>
            <p-tag
              [severity]="rowData[col.field] ? 'danger' : 'success'"
              [value]="rowData[col.field] ? 'Có' : 'Không'"
            />
          </td>
          } @else if (col.field === COLUMN_FIELD.duration) {
          <td>{{ rowData[col.field] | number : '1.2-2' }}</td>
          } @else if (col.field === COLUMN_FIELD.actions) {
          <td>
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-file-edit"
                aria-label="Chỉnh sửa"
                pTooltip="Chỉnh sửa"
                tooltipPosition="bottom"
                (click)="onChangeToUpdateMode(index)"
              />
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-trash"
                aria-label="Xóa"
                pTooltip="Xóa"
                tooltipPosition="bottom"
                (click)="onDelete(rowData)"
              />
            </div>
          </td>
          } @else {
          <td>
            <div
              class="line-clamp line-clamp-1"
              [pTooltip]="rowData[col.field]"
            >
              {{ rowData[col.field] }}
            </div>
          </td>
          } }
        </tr>
        } @else {
        <!-- Hiển thị Form Update -->
        <tr [formGroup]="getFormGroup(index)">
          <td>
            <div>{{ index + 1 }}</div>
          </td>
          <td>
            <div>
              <lib-form-select
                #moduleId
                [formControlName]="FORM_GROUP_KEYS.moduleId"
                [options]="(moduleDependentOptions$ | async)?.[projectFormControl().value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                #menuId
                [formControlName]="FORM_GROUP_KEYS.menuId"
                [options]="(menuDependentOptions$ | async)?.[moduleId.value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                #screenId
                [formControlName]="FORM_GROUP_KEYS.screenId"
                [options]="(screenDependentOptions$ | async)?.[menuId.value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                [formControlName]="FORM_GROUP_KEYS.featureId"
                [options]="(featureDependentOptions$ | async)?.[screenId.value]"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                [formControlName]="FORM_GROUP_KEYS.categoryId"
                [options]="(categoryOptions$ | async) || []"
              ></lib-form-select>
            </div>
          </td>

          <td>
            <div>
              <textarea
                pTextarea
                [formControlName]="FORM_GROUP_KEYS.code"
                rows="1"
                cols="30"
              ></textarea>
            </div>
          </td>

          <td>
            <div>
              <lib-form-select
                [formControlName]="FORM_GROUP_KEYS.issueId"
                [options]="(issueDependentScreenOptions$ | async)?.[screenId.value]"
              ></lib-form-select>
            </div>
          </td>

          <!-- Thời gian bắt đầu -->
          <td>
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-clock"
                aria-label="Thời gian hiện tại"
                pTooltip="Thời gian hiện tại"
                tooltipPosition="bottom"
                (click)="
                  onSetCurrentTimeForDatepicker(
                    formArray,
                    index,
                    FORM_GROUP_KEYS.startTime
                  )
                "
              />
              <p-datepicker
                [formControlName]="FORM_GROUP_KEYS.startTime"
                [showTime]="true"
                hourFormat="24"
                dateFormat="dd/mm"
                appendTo="body"
              >
              </p-datepicker>
            </div>
          </td>

          <!-- Thời gian hoàn thành -->
          <td>
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-clock"
                aria-label="Thời gian hiện tại"
                pTooltip="Thời gian hiện tại"
                tooltipPosition="bottom"
                (click)="
                  onSetCurrentTimeForDatepicker(
                    formArray,
                    index,
                    FORM_GROUP_KEYS.endTime
                  )
                "
              />

              <p-datepicker
                [formControlName]="FORM_GROUP_KEYS.endTime"
                [showTime]="true"
                hourFormat="24"
                dateFormat="dd/mm"
                appendTo="body"
              >
              </p-datepicker>
            </div>
          </td>

          <td>
            <div>
              <input
                appWorkDuration
                [formControlName]="FORM_GROUP_KEYS.duration"
                id="duration"
                pInputText
              />
            </div>
          </td>

          <td>
            <div>
              <p-check-box
                [formControlName]="FORM_GROUP_KEYS.isLunchBreak"
                [binary]="true"
              ></p-check-box>
            </div>
          </td>

          <td>
            <div class="flex align-items-center justify-content-center gap-1">
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-times"
                aria-label="Hủy"
                pTooltip="Hủy"
                tooltipPosition="bottom"
                (click)="onCancelUpdateMode(index)"
              />
              <p-button
                variant="outlined"
                severity="secondary"
                size="small"
                icon="pi pi-save"
                aria-label="Lưu"
                pTooltip="Lưu"
                tooltipPosition="bottom"
                (click)="onSaveUpdate(index)"
              />
            </div>
          </td>
        </tr>
        }
      </ng-template>
    </p-table>
  </div>
</div>
