<div [formGroup]="formGroup" class="container grid">
  <div class="w-full flex gap-3">
    <!-- BÊN TRÁI -->
    <div class="flex flex-1 gap-3">
      <div class="flex-1">
        <label for="employeeLevel" class="">Level</label>
        <div class="">
          <lib-form-select
            #employeeLevelId
            [formControlName]="SELECT_FORM_GROUP_KEY.employeeLevelId"
            [options]="employeeLevelOptions$ | async"
          ></lib-form-select>
        </div>
      </div>

      <div class="flex-1">
        <label for="employee" class="">Nhân viên</label>
        <div class="">
          <lib-form-select
            #employeeId
            [formControlName]="SELECT_FORM_GROUP_KEY.employeeId"
            [options]="(employeeDependentOptions$ | async)?.[employeeLevelId.value]"
          ></lib-form-select>
        </div>
      </div>

      <div class="flex-1">
        <label for="project" class="">Dự án</label>
        <div class="">
          <lib-form-select
            #projectId
            [formControlName]="SELECT_FORM_GROUP_KEY.projectId"
            [options]="(projectDependentOptions$ | async)?.[employeeId.value]"
          ></lib-form-select>
        </div>
      </div>
    </div>

    <!-- BÊN PHẢI -->
    <div class="flex-1 flex-col">
      <span class="block">Thống kê theo : </span>
      <div class="flex gap-3">
        <div class="flex flex-wrap gap-4">
          <div class="flex items-center">
            <p-radiobutton
              value="TODAY"
              [formControlName]="SELECT_FORM_GROUP_KEY.quickDate"
              inputId="today"></p-radiobutton>
            <label for="today" class="ml-2">Hôm nay</label>
          </div>

          <div class="flex items-center">
            <p-radiobutton
              value="WEEK"
              [formControlName]="SELECT_FORM_GROUP_KEY.quickDate"
              inputId="week"></p-radiobutton>
            <label for="week" class="ml-2">Tuần này</label>
          </div>

          <div class="flex items-center">
            <p-radiobutton
              value="MONTH"
              [formControlName]="SELECT_FORM_GROUP_KEY.quickDate"
              inputId="month"></p-radiobutton>
            <label for="month" class="ml-2">Tháng này</label>
          </div>

          <div class="flex items-center">
            <p-radiobutton
              value="CUSTOM"
              [formControlName]="SELECT_FORM_GROUP_KEY.quickDate"
              inputId="custom"></p-radiobutton>
            <label for="custom" class="ml-2">Tùy chỉnh</label>
          </div>
        </div>

        <p-datepicker
          class="ml-auto"
          [formControlName]="SELECT_FORM_GROUP_KEY.dateRange"
          dateFormat="dd/mm/yy"
          selectionMode="range"></p-datepicker>
      </div>
    </div>

    <p-button label="Tải lại" icon="pi pi-refresh" (click)="onReload()" />
  </div>


  <div class="col-12">
    <p-tabs (valueChange)="onChangeTab($event)" [value]="activeTab()">
      <p-tablist>
        <p-tab [value]="ETabName.ESTIMATE">Dự toán</p-tab>
        <p-tab [value]="ETabName.LOG_WORK">Log work</p-tab>
        <p-tab [value]="ETabName.ISSUE">Vấn đề</p-tab>
        <p-tab [value]="ETabName.BUG">Bug</p-tab>
        <p-tab [value]="ETabName.IMPROVEMENT">Improvement</p-tab>
        <p-tab [value]="ETabName.FIX_BUG_DO_IMPROVEMENT">Fix Bug & Do Improvement</p-tab>
        <p-tab [value]="ETabName.REPORT">Báo cáo</p-tab>
      </p-tablist>

      <p-tabpanels>
        <!-- Tab Log work -->
        <p-tabpanel [value]="ETabName.LOG_WORK">
          <app-log-work [projectFormControl]="projectId">
          </app-log-work>
        </p-tabpanel>

        <!-- Tab Fix Bug & Do Improvement -->
        <p-tabpanel [value]="ETabName.FIX_BUG_DO_IMPROVEMENT">
          <app-fix-bug-do-improvement
            [formGroupControl]="formGroup"
            [commonFormGroupKey]="SELECT_FORM_GROUP_KEY"
            [currentEmployee]="currentEmployee()"
            [allDropdownData]="allDropdownData()"
            (updateList)="handleActionAfterBugImprovementListUpdated($event)"></app-fix-bug-do-improvement>
        </p-tabpanel>

        <!--        <p-tabpanel [value]="activeTab() !== ETabName.FIX_BUG_DO_IMPROVEMENT ? activeTab()  : null">-->
        <!--          &lt;!&ndash;        <p-tabpanel>&ndash;&gt;-->
        <!--          &lt;!&ndash; Nút Thêm mới &ndash;&gt;-->
        <!--          @if (mode() === EMode.VIEW) {-->
        <!--            <div class="flex justify-content-end gap-3">-->
        <!--              @if (activeTab() === ETabName.FIX_BUG_DO_IMPROVEMENT) {-->
        <!--                <p-button-->
        <!--                  [outlined]="true"-->
        <!--                  severity="secondary"-->
        <!--                  icon="pi pi-external-link"-->
        <!--                  pTooltip="Mở rộng trang tính"-->
        <!--                  label="Mở trang tính"-->
        <!--                  (click)="openGoogleSheets()"-->
        <!--                />-->

        <!--                <p-button-->
        <!--                  [outlined]="true"-->
        <!--                  severity="secondary"-->
        <!--                  icon="pi pi-sync"-->
        <!--                  pTooltip="Tải lại danh sách"-->
        <!--                  label="Tải lại danh sách"-->
        <!--                  (click)="checkForFixBugAndImprovementUpdates()"-->
        <!--                />-->
        <!--              }-->

        <!--              &lt;!&ndash; TODO - Bổ sung sau &ndash;&gt;-->
        <!--              <p-button-->
        <!--                *ngIf="false"-->
        <!--                icon="pi pi-plus"-->
        <!--                label="Xóa hàng loạt"-->
        <!--                (click)="onBulkDelete()"-->
        <!--              />-->

        <!--              @if (activeTab() === ETabName.ESTIMATE || activeTab() === ETabName.FIX_BUG_DO_IMPROVEMENT) {-->
        <!--                <p-button-->
        <!--                  icon="pi pi-plus"-->
        <!--                  label="Thêm hàng loạt"-->
        <!--                  (click)="onBulkCreate()"-->
        <!--                />-->
        <!--              }-->

        <!--              @if (activeTab() === ETabName.REPORT) {-->
        <!--                <iframe-->
        <!--                  src="https://docs.google.com/spreadsheets/d/1s8OjQl2kw8eW2gvflwfjl5PbmgGRAL0dGlwvGcyD4bs/edit?usp=sharing&gid=1098996043"-->
        <!--                  width="100%"-->
        <!--                  height="600">-->
        <!--                </iframe>-->
        <!--              }-->
        <!--            </div>-->
        <!--          }-->

        <!--          @if (activeTab() === ETabName.REPORT) {-->
        <!--            <ng-container *ngTemplateOutlet="tableDataGeneralTemplate"></ng-container>-->
        <!--          } @else {-->
        <!--            <ng-container *ngTemplateOutlet="tableDataDetailTemplate"></ng-container>-->
        <!--          }-->

        <!--        </p-tabpanel>-->
      </p-tabpanels>
    </p-tabs>
  </div>
</div>

<p-blockui [blocked]="isLoading()">
  <p-progress-spinner ariaLabel="loading" />
</p-blockui>

<p-confirmdialog></p-confirmdialog>

<!-- TEMPLATE CỦA TABLE CHI TIẾT -->
<ng-template #tableDataDetailTemplate>
  <div>
    <div class="huynx15-table">
      <p-table
        [frozenValue]="mode() === EMode.VIEW ? fixedRowData : []"
        [value]="tableData"
        [scrollable]="true"
        styleClass="p-datatable-gridlines"
        scrollHeight="800px"
        [resizableColumns]="true"
        columnResizeMode="expand"
      >
        <!-- TABLE HEADER -->
        <ng-template pTemplate="header">
          <tr>
            @for (col of headerColumns(); track trackBy(col)) {
              @if (col.field === COLUMN_FIELD.categoryId) {
                <th
                  [pSortableColumn]="col.field"
                  pResizableColumn
                  pFrozenColumn
                  [style.min-width.px]="col.minWidth"
                >
                  <div class="flex">
                    <div class="flex-1 line-clamp line-clamp-2">
                      {{ col.label }}
                    </div>
                    <p-sortIcon [field]="col.field" />
                  </div>
                </th>
              } @else {
                <th
                  [pSortableColumn]="col.field"
                  pResizableColumn
                  [style.min-width.px]="col.minWidth"
                >
                  <div class="flex">
                    <div class="flex-1 line-clamp line-clamp-2" [pTooltip]="col.label">
                      {{ col.label }}
                    </div>
                    <p-sortIcon [field]="col.field" />
                  </div>
                </th>
              }
            }
          </tr>
        </ng-template>

        <!--  TABLE : DÒNG THÊM MỚI -->
        <ng-template pTemplate="frozenbody" let-rowData let-index="rowIndex">
          <tr [formGroup]="createFormGroup">
            <td>
              <div class="flex align-items-center justify-content-between gap-1">
                <p-button
                  variant="outlined"
                  severity="secondary"
                  size="small"
                  icon="pi pi-save"
                  aria-label="Lưu"
                  pTooltip="Lưu"
                  tooltipPosition="bottom"
                  (click)="onSaveCreate()"
                />
              </div>
            </td>

            <td>
              <div>
                <lib-form-select
                  [formControlName]="FORM_GROUP_KEYS.moduleId"
                  [options]="getDependentModuleDropDown(FORM_GROUP_KEYS.project)"
                ></lib-form-select>
              </div>
            </td>

            <td>
              <div>
                <lib-form-select
                  [formControlName]="FORM_GROUP_KEYS.menuId"
                  [options]="getDependentDropDown(index, rowData, FORM_GROUP_KEYS.categoryId)"
                ></lib-form-select>
              </div>
            </td>

            <td>
              <div>
                <lib-form-select
                  [formControlName]="FORM_GROUP_KEYS.screenId"
                  [options]="getDependentDropDown(index, rowData, FORM_GROUP_KEYS.categoryId)"
                ></lib-form-select>
              </div>
            </td>

            <td>
              <div>
                <lib-form-select
                  [formControlName]="FORM_GROUP_KEYS.featureId"
                  [options]="getDependentDropDown(index, rowData, FORM_GROUP_KEYS.categoryId)"
                ></lib-form-select>
              </div>
            </td>

            <td>
              <div>
                <lib-form-select
                  [formControlName]="FORM_GROUP_KEYS.categoryId"
                  [options]="independentDropdowns().categories || []"
                ></lib-form-select>
              </div>
            </td>

            @if (activeTab() === ETabName.LOG_WORK) {
              <td>
                <div>
                  <textarea
                    pTextarea
                    [formControlName]="FORM_GROUP_KEYS.workContent"
                    rows="1"
                    cols="30"
                  ></textarea>
                </div>
              </td>

              <td>
                <div>
                  <lib-form-select
                    [formControlName]="FORM_GROUP_KEYS.issueId"
                    [options]="[{label: 'aaaaaa', value: 'aaaaaa'}]"
                  ></lib-form-select>
                </div>
              </td>
            }

            @if (activeTab() === ETabName.ISSUE) {
              <td>
                <div>
                  <lib-form-select
                    [formControlName]="FORM_GROUP_KEYS.categoryId"
                    [options]="independentDropdowns().departments || []"
                  ></lib-form-select>
                </div>
              </td>

              <td>
                <div>
                  <lib-form-select
                    [formControlName]="FORM_GROUP_KEYS.categoryId"
                    [options]="getDependentDropDown(index, rowData, FORM_GROUP_KEYS.categoryId)"
                  ></lib-form-select>
                </div>
              </td>

              <td>
                <div>
                  <textarea
                    [formControlName]="FORM_GROUP_KEYS.categoryId"
                    rows="1"
                    cols="30"
                    pTextarea
                  ></textarea>
                </div>
              </td>

              <td>
                <div>
                  <lib-form-select
                    [formControlName]="FORM_GROUP_KEYS.categoryId"
                    [options]="employeeLevelOptions$ | async"
                  ></lib-form-select>
                </div>
              </td>

              <td>
                <div>
                  <p-checkbox
                    [formControlName]="FORM_GROUP_KEYS.categoryId"
                    [binary]="true"
                  />
                </div>
              </td>
            }

            @if (activeTab() === ETabName.FIX_BUG_DO_IMPROVEMENT) {
              <td>
                <!-- Mã bug & improvement -->
              </td>
            }

            <td>
              <div class="flex align-items-center justify-content-center gap-1">
                <p-button
                  variant="outlined"
                  severity="secondary"
                  size="small"
                  icon="pi pi-clock"
                  aria-label="Thời gian hiện tại"
                  pTooltip="Thời gian hiện tại"
                  tooltipPosition="bottom"
                  (click)="onSetCurrentTimeForDatepicker(index, FORM_GROUP_KEYS.startTime)"
                />
                <p-datepicker
                  [formControlName]="FORM_GROUP_KEYS.startTime"
                  [showTime]="true"
                  hourFormat="24"
                  dateFormat="dd/mm"
                  appendTo="body"
                >
                </p-datepicker>
              </div>
            </td>

            <td>
              <div class="flex align-items-center justify-content-center gap-1">
                <p-button
                  variant="outlined"
                  severity="secondary"
                  size="small"
                  icon="pi pi-clock"
                  aria-label="Thời gian hiện tại"
                  pTooltip="Thời gian hiện tại"
                  tooltipPosition="bottom"
                  (click)="onSetCurrentTimeForDatepicker(index, FORM_GROUP_KEYS.endTime)"
                />

                <p-datepicker
                  [formControlName]="FORM_GROUP_KEYS.endTime"
                  [showTime]="true"
                  hourFormat="24"
                  dateFormat="dd/mm"
                  appendTo="body"
                >
                </p-datepicker>
              </div>
            </td>

            <td>
              <div>
                <input
                  pInputText
                  appWorkDuration
                  [formControlName]="FORM_GROUP_KEYS.duration"
                  [formGroup]="createFormGroup"
                /></div>
            </td>

            @if (activeTab() === ETabName.LOG_WORK) {
              <td>
                <div>
                  <p-checkbox
                    [formControlName]="FORM_GROUP_KEYS.isLunchBreak"
                    [binary]="true"
                  />
                </div>
              </td>
            }

            @if (activeTab() === ETabName.ISSUE) {
              <td>
                <div>
                  <lib-form-select
                    [formControlName]="FORM_GROUP_KEYS.categoryId"
                    [options]="[{label: 'Trạng thái 1', value: 'Trạng thái 1'}]"
                  ></lib-form-select>
                </div>
              </td>
            }

            <!-- Danh sách nút hành động của Thêm mới -->
            <td>
              <div class="flex align-items-center justify-content-between gap-1">
                <p-button
                  variant="outlined"
                  severity="secondary"
                  size="small"
                  icon="pi pi-times"
                  aria-label="Xóa dữ liệu"
                  pTooltip="Xóa dữ liệu"
                  tooltipPosition="bottom"
                  (click)="onResetCreateForm()"
                />
                <p-button
                  variant="outlined"
                  severity="secondary"
                  size="small"
                  icon="pi pi-save"
                  aria-label="Lưu"
                  pTooltip="Lưu"
                  tooltipPosition="bottom"
                  (click)="onSaveCreate()"
                />
              </div>
            </td>
          </tr>
        </ng-template>


        <!--  TABLE ROW DATA -->
        <ng-template pTemplate="body" let-rowData let-index="rowIndex">
          @if (rowData.mode === EMode.VIEW) {
            <!-- Chế độ VIEW chỉ hiển thị text -->
            <tr>
              @for (col of headerColumns(); track col.field) {
                @if (col.field === COLUMN_FIELD.no) {
                  <td>{{ index + 1 }}</td>
                } @else if (col.field === COLUMN_FIELD.moduleId) {
                  <td>{{ rowData[col.field]  | convertIdToName: this.allDropdownData().modules: 'moduleName' }}</td>
                } @else if (col.field === COLUMN_FIELD.menuId) {
                  <td>{{ rowData[col.field]  | convertIdToName: this.allDropdownData().menus: 'menuName' }}</td>
                } @else if (col.field === COLUMN_FIELD.screenId) {
                  <td>{{ rowData[col.field]  | convertIdToName: this.allDropdownData().screens: 'screenName' }}</td>
                } @else if (col.field === COLUMN_FIELD.featureId) {
                  <td>{{ rowData[col.field]  | convertIdToName: this.allDropdownData().features: 'featureName' }}</td>
                } @else if (col.field === COLUMN_FIELD.categoryId) {
                  <td>{{ rowData[col.field]  | convertIdToName: this.allDropdownData().categories: 'categoryName' }}</td>
                } @else if (col.field === COLUMN_FIELD.startTime || col.field === COLUMN_FIELD.endTime) {
                  <td>{{ rowData[col.field] | formatDate }}</td>
                } @else if (col.field === COLUMN_FIELD.categoryId) {
                  <td>
                    <p-tag [severity]="rowData[col.field] ? 'danger' : 'success'"
                           [value]="rowData[col.field] ? 'Có' : 'Không'" />
                  </td>
                } @else if (col.field === COLUMN_FIELD.duration) {
                  <td>{{ rowData[col.field] | roundNumber }}</td>
                } @else if (col.field === COLUMN_FIELD.actions) {
                  <td>
                    <div class="flex align-items-center justify-content-between gap-1">
                      @if (activeTab() === ETabName.ISSUE) {
                        <p-button
                          variant="outlined"
                          severity="secondary"
                          size="small"
                          icon="pi pi-check-square"
                          aria-label="Đánh dấu đã xong"
                          pTooltip="Đánh dấu đã xong"
                          tooltipPosition="bottom"
                          (click)="onMarkFinish()"
                        />
                      }

                      <p-button
                        variant="outlined"
                        severity="secondary"
                        size="small"
                        icon="pi pi-file-edit"
                        aria-label="Chỉnh sửa"
                        pTooltip="Chỉnh sửa"
                        tooltipPosition="bottom"
                        (click)="onChangeToUpdateMode(index)"
                      />
                      <p-button
                        variant="outlined"
                        severity="secondary"
                        size="small"
                        icon="pi pi-trash"
                        aria-label="Xóa"
                        pTooltip="Xóa"
                        tooltipPosition="bottom"
                        (click)="onDelete(rowData)"
                      />
                    </div>
                  </td>
                } @else {
                  <td>
                    <div class="line-clamp line-clamp-1" [pTooltip]="rowData[col.field]">{{ rowData[col.field] }}</div>
                  </td>
                }
              }
            </tr>
          } @else {
            <!-- Hiển thị Form Update -->
            <tr [formGroup]="getFormGroup(index)">
              <td>
                <div>{{ index + 1 }}</div>
              </td>
              <td>
                <div>
                  <lib-form-select
                    [formControlName]="FORM_GROUP_KEYS.categoryId"
                    [options]="getDependentModuleDropDown(FORM_GROUP_KEYS.project)"
                  ></lib-form-select>
                </div>
              </td>

              <td>
                <div>
                  <lib-form-select
                    [formControlName]="FORM_GROUP_KEYS.categoryId"
                    [options]="getDependentDropDown(index, rowData, FORM_GROUP_KEYS.categoryId)"
                  ></lib-form-select>
                </div>
              </td>

              <td>
                <div>
                  <lib-form-select
                    [formControlName]="FORM_GROUP_KEYS.categoryId"
                    [options]="getDependentDropDown(index, rowData, FORM_GROUP_KEYS.categoryId)"
                  ></lib-form-select>
                </div>
              </td>

              <td>
                <div>
                  <lib-form-select
                    [formControl]="getFormControl(index, FORM_GROUP_KEYS.categoryId)"
                    [options]="getDependentDropDown(index, rowData, FORM_GROUP_KEYS.categoryId)"
                  ></lib-form-select>
                </div>
              </td>

              <td>
                <div>
                  <lib-form-select
                    [formControlName]="FORM_GROUP_KEYS.categoryId"
                    [options]="independentDropdowns().categories"
                  ></lib-form-select>
                </div>
              </td>

              @if (activeTab() === ETabName.LOG_WORK) {
                <td>
                  <div>
                    <textarea
                      [formControl]="getFormControl(index, FORM_GROUP_KEYS.workContent)"
                      rows="1"
                      cols="30"
                      pTextarea
                    ></textarea>
                  </div>
                </td>

                <td>
                  <div>
                    <lib-form-select
                      [formControlName]="FORM_GROUP_KEYS.categoryId"
                      [options]="[{label: 'Vấn đề gặp phải 1', value: 'aaaaaa'}]"
                    ></lib-form-select>
                  </div>
                </td>
              }

              @if (activeTab() === ETabName.ISSUE) {
                <td>
                  <div>
                    <lib-form-select
                      [formControlName]="FORM_GROUP_KEYS.categoryId"
                      [options]="independentDropdowns().departments || []"
                    ></lib-form-select>
                  </div>
                </td>

                <td>
                  <div>
                    <lib-form-select
                      [formControlName]="FORM_GROUP_KEYS.categoryId"
                      [options]="[{label: 'Tài liệu sai', value: 'aaaaaa'}]"
                    ></lib-form-select>
                  </div>
                </td>

                <td>
                  <div>
                    <textarea
                      [formControlName]="FORM_GROUP_KEYS.categoryId"
                      rows="1"
                      cols="30"
                      pTextarea
                    ></textarea>
                  </div>
                </td>

                <td>
                  <div>
                    <lib-form-select
                      [formControlName]="FORM_GROUP_KEYS.categoryId"
                      [options]="[{label: 'Anh Thư', value: 'aaaaaa'}]"
                    ></lib-form-select>
                  </div>
                </td>

                <td>
                  <div>
                    <p-checkbox
                      [formControlName]="FORM_GROUP_KEYS.categoryId"
                      [binary]="true"
                    />
                  </div>
                </td>
              }

              <!-- Thời gian bắt đầu -->
              <td>
                <div class="flex align-items-center justify-content-center gap-1">
                  <p-button
                    variant="outlined"
                    severity="secondary"
                    size="small"
                    icon="pi pi-clock"
                    aria-label="Thời gian hiện tại"
                    pTooltip="Thời gian hiện tại"
                    tooltipPosition="bottom"
                    (click)="onSetCurrentTimeForDatepicker(index, FORM_GROUP_KEYS.startTime)"
                  />
                  <p-datepicker
                    [formControlName]="FORM_GROUP_KEYS.startTime"
                    [showTime]="true"
                    hourFormat="24"
                    dateFormat="dd/mm"
                    appendTo="body"
                  >
                  </p-datepicker>
                </div>
              </td>

              <!-- Thời gian hoàn thành -->
              <td>
                <div class="flex align-items-center justify-content-center gap-1">
                  <p-button
                    variant="outlined"
                    severity="secondary"
                    size="small"
                    icon="pi pi-clock"
                    aria-label="Thời gian hiện tại"
                    pTooltip="Thời gian hiện tại"
                    tooltipPosition="bottom"
                    (click)="onSetCurrentTimeForDatepicker(index, FORM_GROUP_KEYS.endTime)"
                  />

                  <p-datepicker
                    [formControlName]="FORM_GROUP_KEYS.endTime"
                    [showTime]="true"
                    hourFormat="24"
                    dateFormat="dd/mm"
                    appendTo="body"
                  >
                  </p-datepicker>
                </div>
              </td>

              <td>
                <div>
                  <input
                    appWorkDuration
                    [formControlName]="FORM_GROUP_KEYS.duration"
                    id="duration"
                    pInputText
                    [formGroup]="getFormGroup(index)"
                  /></div>
              </td>

              @if (activeTab() === ETabName.LOG_WORK) {
                <td>
                  <div>
                    <p-checkbox
                      [formControlName]="FORM_GROUP_KEYS.isLunchBreak"
                      [binary]="true"
                    />
                  </div>
                </td>
              }

              @if (activeTab() === ETabName.ISSUE) {
                <td>
                  <div>
                    <lib-form-select
                      [formControlName]="FORM_GROUP_KEYS.categoryId"
                      [options]="[{label: 'Trạng thái 1', value: 'aaaaaa'}]"
                    ></lib-form-select>
                  </div>
                </td>
              }

              <td>
                <div class="flex align-items-center justify-content-between gap-1">
                  <p-button
                    variant="outlined"
                    severity="secondary"
                    size="small"
                    icon="pi pi-times"
                    aria-label="Hủy"
                    pTooltip="Hủy"
                    tooltipPosition="bottom"
                    (click)="onCancelUpdateMode(index)"
                  />
                  <p-button
                    variant="outlined"
                    severity="secondary"
                    size="small"
                    icon="pi pi-save"
                    aria-label="Lưu"
                    pTooltip="Lưu"
                    tooltipPosition="bottom"
                    (click)="onSaveUpdate(index)"
                  />
                </div>
              </td>
            </tr>
          }
        </ng-template>
      </p-table>
    </div>
  </div>
</ng-template>

<!-- TEMPLATE CỦA TABLE TỔNG QUÁT -->
<ng-template #tableDataGeneralTemplate>
  <p-table [value]="FAKE_REPORT_DATA" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }"
           [expandedRowKeys]="{ '1000': true}">
    <ng-template #header>
      <tr>
        <th style="width: 5rem">Đóng/Mở</th>
        <th pSortableColumn="module">Module
          <p-sortIcon field="module" />
        </th>
        <th pSortableColumn="menu">Menu
          <p-sortIcon field="menu" />
        </th>
        <th pSortableColumn="price">Màn hình
          <p-sortIcon field="price" />
        </th>
        <th pSortableColumn="category">Tổng số vấn đề
          <p-sortIcon field="category" />
        </th>
        <th pSortableColumn="rating">Hiện trạng
          <p-sortIcon field="rating" />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-rowData let-expanded="expanded">
      <tr>
        <td>
          <p-button type="button" pRipple [pRowToggler]="rowData" [text]="true" [rounded]="true" [plain]="true"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
        </td>
        <td>{{ rowData.module }}</td>
        <td>{{ rowData.menu }}</td>
        <td>{{ rowData.screen }}</td>
        <td>{{ rowData.issueNumber }}</td>
        <td>{{ rowData.status }}</td>
      </tr>
    </ng-template>
    <ng-template #expandedrow let-report>
      <tr>
        <td colspan="7">
          <!-- Bảng phụ -->
          <p-table [value]="report.details" dataKey="id">
            <ng-template #header>
              <tr>
                <th pSortableColumn="id">STT
                  <p-sortIcon field="price" />
                </th>
                <th pSortableColumn="id">Tính năng
                  <p-sortIcon field="price" />
                </th>
                <th pSortableColumn="customer">Số vấn đề
                  <p-sortIcon field="customer" />
                </th>
                <th pSortableColumn="date">Hiện trạng
                  <p-sortIcon field="date" />
                </th>
                <th pSortableColumn="amount">Hành động
                  <p-sortIcon field="amount" />
                </th>
              </tr>
            </ng-template>
            <ng-template #body let-subRowData let-index="rowIndex">
              <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ subRowData.screen }}</td>
                <td>{{ subRowData.issueNumber }}</td>
                <td>{{ subRowData.status }}</td>
                <td>
                  <p-button icon="pi pi-eye" severity="secondary" (click)="onViewDetail($event)" />
                  <p-button icon="pi pi-eye" severity="secondary" (click)="onViewDetail($event)" />
                </td>
              </tr>
            </ng-template>
          </p-table>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>