<div
  [formGroup]="formGroup"
  class="container grid"
>
  <div class="w-full flex gap-3">
    <!-- BÊN TRÁI -->
    <div class="flex flex-1 gap-3">
      <div class="flex-1">
        <label
          for="employeeLevel"
          class=""
        >Level</label
        >
        <div class="">
          <lib-form-select
            #employeeLevelId
            [formControlName]="SELECT_FORM_GROUP_KEY.employeeLevelId"
            [options]="employeeLevelOptions$ | async"
          ></lib-form-select>
        </div>
      </div>

      <div class="flex-1">
        <label
          for="employee"
          class=""
        >Nhân viên</label
        >
        <div class="">
          <lib-form-select
            #employeeId
            [formControlName]="SELECT_FORM_GROUP_KEY.employeeId"
            [options]="(employeeDependentOptions$ | async)?.[employeeLevelId.value]"
          ></lib-form-select>
        </div>
      </div>

      <div class="flex-1">
        <label
          for="project"
          class=""
        >Dự án</label
        >
        <div class="">
          <lib-form-select
            #projectId
            [formControlName]="SELECT_FORM_GROUP_KEY.projectId"
            [options]="(projectDependentOptions$ | async)?.[employeeId.value]"
          ></lib-form-select>
        </div>
      </div>
    </div>

    <!-- BÊN PHẢI -->
    <div class="flex-1 flex-col">
      <span class="block">Thống kê theo : </span>
      <div class="flex gap-3">
        <div class="flex flex-wrap gap-4">
          <div class="flex items-center">
            <p-radiobutton
              value="ALL"
              [formControlName]="SELECT_FORM_GROUP_KEY.quickDate"
              inputId="all"
            ></p-radiobutton>
            <label
              for="all"
              class="ml-2"
            >Tất cả</label
            >
          </div>

          <div class="flex items-center">
            <p-radiobutton
              value="TODAY"
              [formControlName]="SELECT_FORM_GROUP_KEY.quickDate"
              inputId="today"
            ></p-radiobutton>
            <label
              for="today"
              class="ml-2"
            >Hôm nay</label
            >
          </div>

          <div class="flex items-center">
            <p-radiobutton
              value="WEEK"
              [formControlName]="SELECT_FORM_GROUP_KEY.quickDate"
              inputId="week"
            ></p-radiobutton>
            <label
              for="week"
              class="ml-2"
            >Tuần này</label
            >
          </div>

          <div class="flex items-center">
            <p-radiobutton
              value="MONTH"
              [formControlName]="SELECT_FORM_GROUP_KEY.quickDate"
              inputId="month"
            ></p-radiobutton>
            <label
              for="month"
              class="ml-2"
            >Tháng này</label
            >
          </div>

          <div class="flex items-center">
            <p-radiobutton
              value="CUSTOM"
              [formControlName]="SELECT_FORM_GROUP_KEY.quickDate"
              inputId="custom"
            ></p-radiobutton>
            <label
              for="custom"
              class="ml-2"
            >Tùy chỉnh</label
            >
          </div>
        </div>

        <p-datepicker
          class="ml-auto"
          [formControlName]="SELECT_FORM_GROUP_KEY.dateRange"
          dateFormat="dd/mm/yy"
          selectionMode="range"
        ></p-datepicker>
      </div>
    </div>

    <p-button
      label="Tải lại"
      icon="pi pi-refresh"
      (click)="onReload()"
    />
  </div>

  <div class="col-12">
    <p-tabs
      [value]="activeTab()"
      (valueChange)="onChangeTab($event)"
    >
      <p-tablist>
        <p-tab [value]="ETabName.ESTIMATE">Dự toán</p-tab>
        <p-tab [value]="ETabName.LOG_WORK">Log work</p-tab>
        <p-tab [value]="ETabName.BUG">Bug</p-tab>
        <p-tab [value]="ETabName.ISSUE">Vấn đề</p-tab>
        <p-tab [value]="ETabName.IMPROVEMENT">Improvement</p-tab>
        <p-tab [value]="ETabName.FIX_BUG_DO_IMPROVEMENT"
        >Fix Bug & Do Improvement
        </p-tab>
        <p-tab [value]="ETabName.REPORT">Báo cáo</p-tab>
      </p-tablist>

      <p-tabpanels>
        <!-- Tab Log work -->
        @if (activeTab() === ETabName.LOG_WORK) {
          <p-tabpanel [value]="ETabName.LOG_WORK">
            <app-log-work
              #tab
              [formGroupControl]="formGroup"
              [projectFormControl]="projectId"
            >
            </app-log-work>
          </p-tabpanel>
        }

        <!-- Tab Bug -->
        @if (activeTab() === ETabName.BUG) {
          <p-tabpanel [value]="ETabName.BUG">
            <app-bug-improvement
              #tab
              [formGroupControl]="formGroup"
              [projectFormControl]="projectId"
            >
            </app-bug-improvement>
          </p-tabpanel>
        }
        <!-- Tab Improvement -->
        @if (activeTab() === ETabName.IMPROVEMENT) {
          <p-tabpanel [value]="ETabName.IMPROVEMENT">
            <app-bug-improvement
              #tab
              [formGroupControl]="formGroup"
              [projectFormControl]="projectId"
            >
            </app-bug-improvement>
          </p-tabpanel>
        }

        <!-- Tab Vấn đề -->
        @if (activeTab() === ETabName.ISSUE) {
          <p-tabpanel [value]="ETabName.ISSUE">
            <app-issues
              #tab
              [formGroupControl]="formGroup"
              [projectFormControl]="projectId"
            >
            </app-issues>
          </p-tabpanel>
        }

        <!-- Tab Fix Bug & Do Improvement -->
        @if (activeTab() === ETabName.FIX_BUG_DO_IMPROVEMENT) {
          <p-tabpanel [value]="ETabName.FIX_BUG_DO_IMPROVEMENT">
            <app-fix-bug-do-improvement
              [formGroupControl]="formGroup"
              [commonFormGroupKey]="SELECT_FORM_GROUP_KEY"
            ></app-fix-bug-do-improvement>
          </p-tabpanel>
        }

        <!--        <p-tabpanel [value]="activeTab() !== ETabName.FIX_BUG_DO_IMPROVEMENT ? activeTab()  : null">-->
        <!--          &lt;!&ndash;        <p-tabpanel>&ndash;&gt;-->
        <!--          &lt;!&ndash; Nút Thêm mới &ndash;&gt;-->
        <!--          @if (mode() === EMode.VIEW) {-->
        <!--            <div class="flex justify-content-end gap-3">-->
        <!--              @if (activeTab() === ETabName.FIX_BUG_DO_IMPROVEMENT) {-->
        <!--                <p-button-->
        <!--                  [outlined]="true"-->
        <!--                  severity="secondary"-->
        <!--                  icon="pi pi-external-link"-->
        <!--                  pTooltip="Mở rộng trang tính"-->
        <!--                  label="Mở trang tính"-->
        <!--                  (click)="openGoogleSheets()"-->
        <!--                />-->

        <!--                <p-button-->
        <!--                  [outlined]="true"-->
        <!--                  severity="secondary"-->
        <!--                  icon="pi pi-sync"-->
        <!--                  pTooltip="Tải lại danh sách"-->
        <!--                  label="Tải lại danh sách"-->
        <!--                  (click)="checkForFixBugAndImprovementUpdates()"-->
        <!--                />-->
        <!--              }-->

        <!--              &lt;!&ndash; TODO - Bổ sung sau &ndash;&gt;-->
        <!--              <p-button-->
        <!--                *ngIf="false"-->
        <!--                icon="pi pi-plus"-->
        <!--                label="Xóa hàng loạt"-->
        <!--                (click)="onBulkDelete()"-->
        <!--              />-->

        <!--              @if (activeTab() === ETabName.ESTIMATE || activeTab() === ETabName.FIX_BUG_DO_IMPROVEMENT) {-->
        <!--                <p-button-->
        <!--                  icon="pi pi-plus"-->
        <!--                  label="Thêm hàng loạt"-->
        <!--                  (click)="onBulkCreate()"-->
        <!--                />-->
        <!--              }-->

        <!--              @if (activeTab() === ETabName.REPORT) {-->
        <!--                <iframe-->
        <!--                  src="https://docs.google.com/spreadsheets/d/1s8OjQl2kw8eW2gvflwfjl5PbmgGRAL0dGlwvGcyD4bs/edit?usp=sharing&gid=1098996043"-->
        <!--                  width="100%"-->
        <!--                  height="600">-->
        <!--                </iframe>-->
        <!--              }-->
        <!--            </div>-->
        <!--          }-->

        <!--          @if (activeTab() === ETabName.REPORT) {-->
        <!--            <ng-container *ngTemplateOutlet="tableDataGeneralTemplate"></ng-container>-->
        <!--          } @else {-->
        <!--            <ng-container *ngTemplateOutlet="tableDataDetailTemplate"></ng-container>-->
        <!--          }-->

        <!--        </p-tabpanel>-->
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
<!-- 
<p-blockui [blocked]="isLoading()">
  <p-progress-spinner ariaLabel="loading" />
</p-blockui> -->

<p-confirmdialog></p-confirmdialog>
