/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';

p-select {
  display: block;
  width: 100%;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: normal;
}

.line-clamp-1 {
  --line-clamp: 1
}

.line-clamp-2 {
  -webkit-line-clamp: var(--line-clamp, 2) !important;
}

p-table {
  display:block;
  height: 100%;

  .p-datatable {
    height: 100%;

    .p-datatable-table-container {
      
    height: 100%;
    }
  }
}

p-datepicker {
  timesicon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 8px;
  }
}
